.modal-container {
  box-shadow:0 0 20px #333;
  -webkit-box-shadow:0 0 20px #333;
  -moz-box-shadow:0 0 20px #333;
  border:10px solid rgba(0,0,0,0.7);
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

.modal-image .area:hover {
  outline:2px solid #aaa;
  background:white;
  opacity:0.5;
}

.modal-stage {
  background:white;
  border:1px solid black;
  overflow-x:hidden;
  box-shadow:inset 0 0 20px #666; 
  -moz-box-shadow:inset 0 0 20px #666; 
  -webkit-box-shadow:inset 0 0 20px #666; 
}

.modal-inner {
  padding:20px;
}

.modal-inner > header {
  border-bottom:1px solid #ddd;
  padding-bottom:5px;
  margin-bottom:5px;
}

.modal-form {
  padding:5px 10px 10px;
} 

.modal-form .label {
  padding:10px 0;
}

.modal-spinner {
  left:0px!important;
  top:0px!important;
  background:url("spinner.gif") no-repeat center center;
}

.modal-close {
  width:30px;
  height:30px;
  background:url('images/close.png') no-repeat 0 0;
  cursor:pointer;
  display:block;
  top:-20px;
  right:-20px;
}

.modal-loading {
  background-image:url('images/spinner.gif');
  background-position:15px center;
  padding:20px 60px;
  background-repeat:no-repeat;
}
